<!-- <div>{{surveyData | json}}</div> -->
<div class="center-div" style="height: 70%!important;">
<div *ngIf="loaded">
  <h2 class="mat-h1" align="center" *ngIf="errorMessage != ''">{{errorMessage}}</h2>
  <form class="form" [formGroup]="fg" (ngSubmit)="onSubmit()" *ngIf="errorMessage == ''">
    <div class="inputGroup" style="background-color: transparent;margin-top:30px;">
      <img src="{{surveyData.welcomeimage}}" style="max-height: 300px;max-width: 70%;">
      <h2 style="align-content: center;">{{surveyData.welcometitle}}</h2>
    </div>
    <div class="inputGroup" style="background-color: transparent;margin-top:30px;" *ngIf="surveyData.emailidrequired">
      <mat-form-field appearance="fill" style="width: 60rem;">
        <mat-label>Email ID</mat-label>
        <input matInput formControlName="emailId" type="email"/>
        <mat-hint></mat-hint>
      </mat-form-field>
    </div>
    <div class="inputGroup" style="background-color: transparent;margin-top:30px;">
      <button type="submit" [disabled]="!fg.valid"
      mat-raised-button color="primary">Begin Survey</button>
    </div>
  </form>
</div>
</div>
