<div [formGroup]="questionForm" style="padding-top:10px" (keydown)="textChanged()">
  <mat-expansion-panel #myaccordian [expanded]="expandedPanel" style="height: auto;"
    [style.border]="invalidForm ? '1px solid red': '1px solid green' " [disabled]="disableState"
    (afterExpand)="emitAfterExpanded($event)" (afterCollapse)="emitAfterCollapsed($event)">
    <mat-expansion-panel-header class="content-height">
      <mat-panel-title>
        <mat-panel-description>
          <div class="row container-fluid" style="overflow: auto">
            <div class="col-md-1"><label mat-label class="font-weight-bold"># {{idx + 1}}</label>
              <label mat-label class="font-weight-bold" style="color:red;padding-left:4px" *ngIf="isRequired"> *</label>
            </div>
            <div class="col-md-11"> {{userQuestion}}</div>
          </div>
        </mat-panel-description>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <hr />
    <div class="d-flex justify-content-start">
      <div class="col-md-12">
        <mat-form-field appearance="standard">
          <mat-label>Question</mat-label>
          <textarea formControlName="userQuestion" matInput cdkTextareaAutosize placeholder="Enter your question"
            style="height: auto; min-height: 30px;" required></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <div class="col-md-12">
        <mat-form-field appearance="standard">
          <mat-label>Additional Information</mat-label>
          <textarea formControlName="explanation" matInput cdkTextareaAutosize placeholder="Give your explanation"
            style="height: auto; min-height: 30px;"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <div class="col-md-6" style="padding-top: 20px;">
        <mat-slide-toggle formControlName="isRequired">Mandatory Question</mat-slide-toggle>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <div class="col-md-9" style="padding-top: 20px;">
        <mat-form-field appearance="standard">
          <mat-label>Question Type</mat-label>
          <mat-select formControlName="questionType" (selectionChange)="setQuestionType(idx, $event)" required>
            <mat-option *ngFor="let surveyQuestionType of SurveyQuestionTypes" [value]="surveyQuestionType.code">
              {{surveyQuestionType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-start"
      *ngIf="selectedListQuestionTypes!='-1' && selectedListQuestionTypes != ''">
      <div class="col-md-6">
        <!-- {{ getOptionName(selectedListQuestionTypes) | uppercase }}  -->
        <b>Additional Details:</b>
      </div>
    </div>
    <!-- <hr *ngIf="selectedListQuestionTypes!='-1' && selectedListQuestionTypes != ''" /> -->
    <div class="justify-content-start"
      *ngIf="selectedListQuestionTypes!='-1' && selectedListQuestionTypes != ''">
      <div class="row container-fluid" *ngIf="selectedListQuestionTypes == 'customrating'">
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Default headers to fill</mat-label>
            <mat-select (selectionChange)="customRatingValuesChange(idx, $event)" required>
              <mat-option *ngFor="let eachStarOption of listStarOptions" [value]="eachStarOption.optionText">
                {{eachStarOption.optionDisplayText}}
              </mat-option>
            </mat-select>
            <mat-hint>You add on top of these or modify the values in below textboxes</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row container-fluid"
        *ngIf="selectedListQuestionTypes == 'essay' || selectedListQuestionTypes == 'rangeslider'">
        <div class="col-md-3">
          <mat-form-field appearance="standard">
            <mat-label *ngIf="selectedListQuestionTypes == 'essay'">Minimum Characters</mat-label>
            <mat-label *ngIf="selectedListQuestionTypes == 'rangeslider'">Starting Range</mat-label>
            <input matInput type="number" [(ngModel)]="minValue" [ngModelOptions]="{standalone: true}"
              placeholder="Ex. 12">
            <span matSuffix></span>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="standard">
            <mat-label *ngIf="selectedListQuestionTypes == 'essay'">Maximum Characters</mat-label>
            <mat-label *ngIf="selectedListQuestionTypes == 'rangeslider'">Ending Range</mat-label>
            <input matInput type="number" [(ngModel)]="maxValue" [ngModelOptions]="{standalone: true}"
              placeholder="Ex. 12">
            <span matSuffix></span>
          </mat-form-field>
        </div>
      </div>
      <div class="row container-fluid"
        *ngIf="selectedListQuestionTypes == 'customrating'">
        <b style="padding-left:15px;padding-top: 20px;padding-bottom: 20px;">Custom rating headers:</b>
        <div class="row container-fluid" *ngFor="let item of options_x;index as i">
          <div class="col-md-12">
            <mat-form-field appearance="standard">
              <mat-label>Option {{i+1}}</mat-label>
              <input matInput #option{{i}} [value]="options_x[i]" required minlength="1" (keyup)="updateOption_X(i,$event)">
              <button matSuffix mat-icon-button color="accent" aria-label="Remove" type="button"
                (click)="removeOption_X(i);">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row container-fluid">
          <div class="col-md-12">
            <mat-form-field appearance="fill">
              <mat-label>Add New Option</mat-label>
              <input matInput [(ngModel)]="newitem_x" [ngModelOptions]="{standalone: true}">
              <button matSuffix mat-mini-fab color="accent" [disabled]="newitem_x == '' || newitem_x.length < 2"
                aria-label="Add" type="button" (click)="addOption_X();">
                <mat-icon>add</mat-icon>
              </button>
              <mat-hint>After clicking on + only the option will be added</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row container-fluid"
        *ngIf="selectedListQuestionTypes == 'radiobuttons' ||
      selectedListQuestionTypes == 'multiple' || selectedListQuestionTypes == 'multiplerating' || selectedListQuestionTypes == 'customrating'">
      <b style="padding-left:15px;padding-top: 20px;padding-bottom: 20px;">Your Options list:</b>
      <div class="row container-fluid" *ngFor="let item of options;index as i">
          <div class="col-md-12">
            <mat-form-field appearance="standard">
              <mat-label>Option {{i+1}}</mat-label>
              <input matInput #option{{i}} [value]="options[i]" required minlength="1" (keyup)="updateOption(i,$event)">
              <button matSuffix mat-icon-button color="accent" aria-label="Remove" type="button"
                (click)="removeOption(i);">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row container-fluid">
          <div class="col-md-12">
            <mat-form-field appearance="fill">
              <mat-label>Add New Option</mat-label>
              <input matInput [(ngModel)]="newitem" [ngModelOptions]="{standalone: true}">
              <button matSuffix mat-mini-fab color="accent" [disabled]="newitem == '' || newitem.length < 2"
                aria-label="Add" type="button" (click)="addOption();">
                <mat-icon>add</mat-icon>
              </button>
              <mat-hint>After clicking on + only the option will be added</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row container-fluid" *ngIf="selectedListQuestionTypes == 'imageradiobuttons' ||
      selectedListQuestionTypes == 'imagemultiple'">
      <b style="padding-left:15px;padding-top: 20px;padding-bottom: 20px;">Your Options list:</b>
        <div class="row container-fluid" *ngFor="let item of options;index as i">
          <div class="col-md-5">
            <mat-form-field appearance="standard">
              <mat-label>Option {{i+1}}</mat-label>
              <input matInput disabled value="{{item}}" required minlength="1">
              <button matSuffix mat-icon-button color="accent" aria-label="Remove" type="button"
                (click)="removeOption(i);">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row container-fluid">
          <div class="col-md-6">
            <mat-label>New Option Image:</mat-label>
            <app-material-file-upload [clearFileAfterUpload]="true" mat-basic-chip (complete)="onFileComplete($event)">
            </app-material-file-upload>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button mat-mini-fab color="" style="margin: 10px;opacity: 0.8;" aria-label="Save" align="right" color="primary"
        type="button" (click)="SaveEmit(idx)">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-mini-fab style="margin: 10px;opacity: 0.8;" aria-label="Delete" color="warn" align="right"
        type="button" (click)="idxToRemove.emit(idx)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</div>
