<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default shape-color-orangered">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <mat-card class="bg-white">
                <mat-card-header>
                  <div mat-card-avatar class="header-image"></div>
                  <mat-card-title>Balla Vamsi Srinivas</mat-card-title>
                  <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://avatars0.githubusercontent.com/u/18742947?s=460&u=e51dbaefd237df2aef45d1e4084ce759b5f777ad&v=4" alt="Photo of Balla Vamsi Srinivas"> -->
                <mat-card-content>
                  <p>
                    A Lead with 8 years of experience in Microsoft technologies and frontend. I code with passion, love
                    to explore and do projects which give me knowledge and also sometimes for fun.
                    My <a href="https://github.com/ballavamsi" target="_blank"> Github</a>, <a
                      href="http://www.ballavamsi.com" target="_blank"> Personal Website</a>.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button
                    (click)="onClickCopy('ballavamsisrinivas@gmail.com')">ballavamsisrinivas@gmail.com</button>
                  <button mat-button (click)="onClickCopy('http://ballavamsi.com')">http://ballavamsi.com</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="col-lg-6">
              <mat-card class="bg-white">
                <mat-card-header>
                  <div mat-card-avatar class="header-image"
                    style="background-image: url('https://avatars0.githubusercontent.com/u/63758252?s=460&v=4');"></div>
                  <mat-card-title>Sreekanth Lanka</mat-card-title>
                  <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Developer with 3 years of experience in Microsoft technologies and frontend. Always keen to learn
                    new languages to expand my skills and become a badass programmer someday. My <a
                      href="https://github.com/SreekanthLanka" target="_blank"> Github</a>.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="onClickCopy('jonny.sree@gmail.com')">jonny.sree@gmail.com</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </section>
    <mat-card class="gridMatCard" style="display: none;">
      <mat-card-header>
        <div mat-card-avatar class="header-image"
          style="background-image: url('https://avatars0.githubusercontent.com/u/63758252?s=460&v=4');"></div>
        <mat-card-title>G. Chakradhar Reddy</mat-card-title>
        <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lead with 8 years of experience in Microsoft and front end stack.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onClickCopy('chakradhar511@gmail.com')">chakradhar511@gmail.com</button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>