<!-- <div>{{surveyData | json}}</div> -->
<div class="center-div" style="height: 70%!important;">
        <div class="row" style="background-color: transparent;margin-top:30px;">
          <div class="col-md-5">
            <img src="assets/tick1.png" style="max-height: 300px;max-width: 50%;">
          </div>
        </div>
        <div style="background-color: transparent;margin-top:30px;">
          <mat-form-field appearance="fill" style="width: 60rem;">
            <input matInput  type="text" />      
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
  </div>
  