.mt--150{
    margin-top:-150px;
}

.mt--100{
    margin-top:-100px;
}

.ul-no-style{
    list-style: none;
    li{
        font-size: small;
    }
}

.form-group{
    span{
        font-size: small;
        color: #32325d;
    }
}