<div class="mainbackground">
  <div class="container" style="padding-top: 20%;">
    <div class="row">
      <div class="col-md-5 leftbanner"><div data-aos="zoom-in-up" class="aos-init aos-animate">
        <div class="banner-title">
            <h3 class="font-weight-medium"><b style="font-size:2rem">#1</b> Stop for Survey's and Poll's.
          </h3>
        </div>
        <p class="mt-3">
          Yes, you can really create a survey and poll in flash.
          <br>
          Don't worry it is Free.......
        </p>
        <a href="/poll/new" class="btn btn-poll mt-3">Create Poll</a>
        <a href="/survey/new" class="btn btn-survey mt-3">Create Survey</a>
      </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4 dashboardimage">
        <img src="../assets/images/toppng.com-survey-icon-cards-para-rede-social-500x463.png" height="200px" width="300px">
      </div>
    </div>
    <div class="row" style="margin-top:200px;">
      <div class="col-md-12">
        <h2 style="opacity:0.7">We Are Offering</h2>
      </div>
    </div>
    <div class="row" class="eachRow">
      <div class="col-md-4">
        <mat-card class="second-stage-card" style="background-color:#b2ebf2;color:black">
          <span mat-card-image class="material-icons iconsize" style="color:gray;">
            share
            </span>
          <mat-card-content>
            <h4>Easy Share</h4>
            <p class="cardb">
              Upon creating poll/survey you will be getting a success page, please use it to share.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="second-stage-card" style="background-color: #00bcd4;">
          <span mat-card-image class="material-icons iconsize" style="color:black">
            power
            </span>
          <mat-card-content>
            <h4>Power to you</h4>
            <p class="cardb">
              You have the power to configure, what you want to get from user and how you want to get it.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="second-stage-card" style="background-color: #99b898;">
          <span mat-card-image class="material-icons iconsize" style="color:gold">
            bar_chart
            </span>
          <mat-card-content>
            <h4>Reports</h4>
            <p class="cardb">
              Wow reports, yes that too in graphical representation.
              Easiest to way to understand what the end user wants.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row" class="eachRow processRow">
      <div class="col-md-12">
        <h2 style="opacity:0.7">What Is The Process?</h2>
        <ol style="list-style: none;">
          <li class="eachstepli">
            <span class="material-icons liicon">
              check_circle_outline
              </span>
            <span class="data"><b>Create:</b> Just click on poll/survey, give all the details and click on Submit.</span>
          </li>
          <li class="eachstepli">
            <span class="material-icons liicon">
              check_circle_outline
              </span>
            <span class="data"><b>Share:</b> You get an URL, share it with whomever you want, feel free ;) .</span>
          </li>
          <li class="eachstepli">
            <span class="material-icons liicon">
              check_circle_outline
              </span>
            <span class="data"><b>Review:</b> When ever you want, just see graph and feel wow .</span>
          </li>
        </ol>
      </div>
    </div>
    <!-- <div class="row" class="eachRow">

    </div>
    <div class="row" class="eachRow">

    </div>

  </div>
  <div class="row" class="eachRow" style="background-color:black">

  </div> -->
</div>
