
  <div class="d-flex justify-content-center" style="height: 90vh;margin-top: -20px;background: repeating-linear-gradient(45deg, #89e9e1, black 800px)">
    <div class="col-sm-8 col-md-8">
        <h2 class="headingcolor">
          <p>You are just a click away to create a <a class="middletextcolor" routerLink="poll/new">Poll</a> or  <a class="middletextcolor" routerLink="survey/new">Survey</a> and view results in realtime.</p>
          <button mat-raised-button color="primary" routerLink="poll/new">Get Started</button>
        </h2>
      </div>
    <div class="col-sm-3 col-md-3" style="display: none;">
      <span class="material-icons">
        group
      </span>
      <span class="material-icons">
        poll
      </span>
      <span class="material-icons">
        share
        </span>
      </div>
    </div>
