@import '../../styles';
.poll-icon{
  font-size: 200px;
}
.group-icon{
  position: relative;
  left: 48px;
  font-size: 103px;
  margin-bottom: 149px;
  color: rebeccapurple;
}

.share-icon{
  font-size: 100px;
  position: relative;
  left: -76px;
  top: 64px;
  color:mat-color($accent);
}
.headingcolor{
  color: black;//mat-color($accent);
  font-size: 5.2rem;
  opacity: 0.7;
  font-variant: petite-caps;
}

.dashboard-background{
  height: 150vh;
  margin-top: 0px;
  z-index: 97;
  position: relative;
  //background: repeating-linear-gradient(45deg, #89e9e1, black 800px);
}

.mainbackground{
  float: left;
  //clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px, 1px 400px, 322px 498px, 600px 329px, 864px 433px ,1400px 224px, 1400px 0px);
  //background: linear-gradient(to bottom left, #67D7F5, #86F7CC);
  float: left;
  //background: linear-gradient(to top right, #67D7F5, #86F7CC);
  background: url("~/assets/images/banner-bg.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  margin-top: -10.9%;
}

.dashboardimage{
  margin-top: -64px;
    margin-left: -4px;
  img{
    width: 400px;
    height: 370px;

  }
}

.btn-poll{
  background-color: orange;
}
.btn-survey{
  margin-left:20px;
  background-color:orangered;
}

.leftbanner{
  padding: 20px;
  background: dimgray;
  border-radius: 40px;
  height: 40%;
}
.banner-title{
  color:white;
}


.mt-3{
  color:white;
  font-weight: 1.2rem;
}
.font-weight-medium{
  font-weight: 500;
  font-size:1.8rem;
}

.middletextcolor{
  color: gray;
  opacity: 0.9;
  cursor: pointer;
}

.middletextcolor:hover{
  color: mat-color($primary);
  opacity: 0.9;
}
.gridbackground {
}


@media screen and (max-width: 500px) {
  .headingcolor{
    font-size: 3.5rem;
  }

  .leftbanner{
    padding: 23px;
    background: #696969;
    height: 33%;
    border-radius: 0px;
  }
  .dashboardimage{
    img{
      width: 313px;
      height: 300px;
      margin-top: 27%;
      margin-left: 9%;
    }
  }
}
