@import '../../styles';
.poll-icon{
  font-size: 200px;
}
.group-icon{
  position: relative;
  left: 48px;
  font-size: 103px;
  margin-bottom: 149px;
  color: rebeccapurple;
}

.share-icon{
  font-size: 100px;
  position: relative;
  left: -76px;
  top: 64px;
  color:mat-color($accent);
}
.headingcolor{
  color: white;//mat-color($accent);
  font-size: 5.2rem;
  font-variant: petite-caps;
}

.dashboard-background{
  height: 90vh;
  margin-top: -21px;
  z-index: 100;
  position: relative;
  background: repeating-linear-gradient(45deg, #89e9e1, black 800px);
}

.middletextcolor{
  color: gray;
  opacity: 0.9;
  cursor: pointer;
}

.middletextcolor:hover{
  color: mat-color($primary);
  opacity: 0.9;
}
.gridbackground {
}


@media screen and (max-width: 400px) {
  .headingcolor{
    font-size: 3.5rem;
  }
}
