<div class="mainbackground">
  <div class="container" style="padding-top: 20%;">
    <div class="row">
      <div class="col-md-5 leftbanner"><div data-aos="zoom-in-up" class="aos-init aos-animate">
        <div class="banner-title">
            <h3 class="font-weight-medium"><b style="font-size:2rem">#1</b> Stop for Survey's and Poll's.
          </h3>
        </div>
        <p class="mt-3">
          Yes, you can really create a survey and poll in flash.
          <br>
          Don't worry it is Free.......
        </p>
        <a href="/poll/new" class="btn btn-poll mt-3">Create Poll</a>
        <a href="/survey/new" class="btn btn-survey mt-3">Create Survey</a>
      </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4 dashboardimage">
        <img src="../assets/images/toppng.com-survey-icon-cards-para-rede-social-500x463.png" height="200px" width="300px">
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-8 col-md-8">
        <h2 class="headingcolor">
          <p>You are just a click away to create a <a class="middletextcolor" routerLink="poll/new">Poll</a> or <a
              class="middletextcolor" routerLink="survey/new">Survey</a> and view results in realtime.</p>
          <button mat-raised-button color="primary" routerLink="poll/new">Get Started</button>
        </h2>
      </div> -->
</div>

<!-- <div class="col-sm-8 col-md-8"> -->

<!-- <div class="col-sm-3 col-md-3" style="display: none;">
      <span class="material-icons">
        group
      </span>
      <span class="material-icons">
        poll
      </span>
      <span class="material-icons">
        share
        </span>
      </div>
    </div> -->
